cloudpickle==0.5.3
cycler==0.10.0
dask==0.18.1
decorator==4.3.0
kiwisolver==1.0.1
librosa==0.6.2
matplotlib==2.2.2
networkx==2.1
numpy==1.14.5
Pillow==5.2.0
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.5
PyWavelets==0.5.2
pyyaml==4.2b1
requests==2.20.0
scikit-image==0.14.0
scipy==1.1.0
seaborn==0.9.0
six==1.11.0
sklearn==0.0
soundfile==0.10.02
toolz==0.9.0
torch==1.0.0
torchtext==0.2.3
torchvision==0.2.1
pandas==0.23.2
tqdm==4.23.4
