backcall==0.1.0
certifi==2018.11.29
chardet==3.0.4
cloudpickle==0.5.3
cycler==0.10.0
cymem==2.0.2
cytoolz==0.9.0.1
dask==0.18.1
decorator==4.3.0
dill==0.2.8.2
en-core-web-sm==2.0.0
idna==2.8
ipykernel==5.1.0
ipython==7.2.0
ipython-genutils==0.2.0
jedi==0.13.2
jupyter-client==5.2.4
jupyter-core==4.4.0
kiwisolver==1.0.1
matplotlib==2.2.2
msgpack==0.5.6
msgpack-numpy==0.4.3.2
murmurhash==1.0.1
networkx==2.1
nltk==3.4
numpy==1.15.4
pandas==0.23.4
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.2.0
pkg-resources==0.0.0
plac==0.9.6
preshed==2.0.1
prompt-toolkit==2.0.7
ptyprocess==0.6.0
Pygments==2.3.1
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.5
PyWavelets==0.5.2
pyzmq==17.1.2
regex==2018.1.10
requests==2.21.0
scikit-image==0.14.0
scikit-learn==0.20.2
scipy==1.1.0
seaborn==0.9.0
singledispatch==3.4.0.3
six==1.11.0
sklearn==0.0
spacy==2.0.18
thinc==6.12.1
toolz==0.9.0
torch==1.0.0
torchtext==0.2.3
torchvision==0.2.1
tornado==5.1.1
tqdm==4.28.1
traitlets==4.3.2
ujson==1.35
urllib3==1.24.1
wcwidth==0.1.7
wrapt==1.10.11
